<ul class="verti">
	<li class="verti"><div class="col-sm-12 col-md-11"><h3>Recherche par:</h3></div></li>
  	<li class="verti">
	  	<div class="col-sm-12 col-md-11 col-lg-7"><br/>
	  		<label>Id <input style="width: 3cm;" class="form-control" ng-model="search.id_categorie"></label>
	  	</div>
  	</li>
</ul>


<h1 align="center">Liste des categories de produit</h1>





<div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 col-lg-offset-2" >
	<table class="table table-hover">
		<thead style="background-color: green; color:white;">
			<td>Id</td>
			<td>Categories</td>
			<td>Actions</td>
		</thead>
		<tbody ng-repeat="cat in categorie | filter:search">
			
			<td>{{cat.id_categorie}}</td>
			<td>
				<output ng-show="!check1">{{cat.nom}}</output>
				<input class="form-control" type="text" ng-show="check1" value="{{cat.nom}}" ng-model="cat.nom">
			</td>
			
			<td style="width: 7cm;"  ng-model="check1">				
				<button class="btn btn-primary" ng-click="check1=true" ng-show="!check1">Modifier</button>
				<button class="btn btn-primary" ng-click="modifierCatLien(cat)" ng-show="check1">Valider</button>
				
				<button class="btn btn-warning" ng-click="doDeleteCatByIdLien(cat)" >Supprimer</button>
			</td>
		</tbody>
		<tfoot>
			<td><button class="btn btn-success" ng-click="ajouterCat()" style="position: absolute; right: 200px;">Ajouter</button></td>
		</tfoot>
	</table>
</div>
